.header {
    text-align:center;
    background-color: #FFDA22;
    padding:20px;
    border: 5px solid black;
   
  }

  
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #545863;
    padding: 30px;
    grid-gap: 30px;
    justify-content: center;
  }
  
  .grid-item {
    background-color: #F96E46;
    border: 1px solid black;
    text-align: center;
  }
  
  .grid-item1 {
    background-color: #F96E46;
    border: 1px solid black;
    text-align: center;
  }





  
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    justify-content:center;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  .text {
    padding-top: 35px;
    font-family: 'Just Another Hand', cursive;
    font-size: 50px;
    word-wrap: break-word;
  
  }
  
  
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #F2C57C;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #F96E46;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #F9C846;
    color: white;
    transform: rotateY(180deg);
    font-size: 20px;
    
  }

  